<div class="funder-credits">
  <div class="funder-section">
    <p class="funder-label">MORPHSS is funded by:</p>
    <div class="funder-logos">
      <a href="https://www.ukri.org/councils/research-england/" target="_blank" rel="noopener">
        <img src="/images/logo-research-england.png" alt="Research England">
      </a>
      <a href="https://www.ukri.org/councils/ahrc/" target="_blank" rel="noopener">
        <img src="/images/logo-ahrc.png" alt="AHRC">
      </a>
      <a href="https://wellcome.org/" target="_blank" rel="noopener">
        <img src="/images/logo-wellcome.png" alt="Wellcome">
      </a>
    </div>
  </div>
  
  <div class="funder-section">
    <p class="funder-label">MORPHSS is:</p>
    <div class="funder-logos">
      <a href="https://www.cam.ac.uk/" target="_blank" rel="noopener">
        <img src="/images/logo-cambridge-uni.png" alt="University of Cambridge">
      </a>
      <a href="https://www.southampton.ac.uk/" target="_blank" rel="noopener">
        <img src="/images/logo-southampton-uni.png" alt="University of Southampton">
      </a>
      <a href="https://www.sheffield.ac.uk/" target="_blank" rel="noopener">
        <img src="/images/logo-sheffield-uni.png" alt="University of Sheffield">
      </a>
    </div>
  </div>
</div>

